.FoodForm {
  margin: 20px auto;
  padding: 20px 0px 20px 0px;
  width: 50%;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  grid-column: 2/3;
}

.Spinner {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}
