.BigFoodItem {
    margin: 20px auto;
    padding: 20px 0px 20px 0px;
    width: 70%;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    background-color: #FFFFFF;
}

.MidFoodItem {
    margin: 10px auto;
    padding: 5px 0px 5px 0px;
    width: 65%;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px #ccc;
    background-color: #FFFFFF;
    word-wrap: break-word;
    font-size: medium;
}

.SmallFoodItem {
    margin: 10px auto;
    padding: 10px 0px 10px 0px;
    width: 50%;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px #ccc;
    background-color: #FFFFFF;
}

.SmallFoodItem a {
    word-wrap: break-word;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    color: #2d66d9;
}

.MidFoodItem a {
    word-wrap: break-word;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: #2d66d9;
}

.BigFoodItem a {
    word-wrap: break-word;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: #2d66d9;
}

.Link {
    margin: 0 5px 0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}
