.Auth {
    margin: 20px auto;
    padding: 20px 0px 20px 0px;
    width: 50%;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    grid-column: 2/3;
}

.SwitchButton {
    grid-column: 3/4;
    justify-self: center;
    align-self: baseline;
}

.Input {
    display: block;
}

@media (min-width: 600px) {
    .Auth {
        width: 100%;
    }
}

