.Spinner {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}

.Pagination {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-areas: "PrevButton PageButtons NextButton";
  justify-content: center;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.PrevButton {
  grid-area: PrevButton;
}

.NextButton {
  grid-area: NextButton;
}

.PageButton {
  grid-area: PageButtons;
  justify-self: center;
}

.Pagination button {
  border: none;
  background: none;
}

.Pagination button.active {
  background-color: #0025af;
  color: white;
  border: none;
}

.Pagination button:hover:not(.active) {
  background-color: #ddd;
  border: none;
}
